extends layout

block head
  script.
    function create() {
      $('#inputName').val('')
      $('#inputGroup').val('')
      $('#inputSwitch').val(1)
      $('#switchForm')
        .css('visibility', 'visible')
        .attr('action', '/admin/create')
    }
    function update(name, group, switchNumber) {
      $('#inputName').val(name)
      $('#inputGroup').val(group)
      $('#inputSwitch').val(switchNumber)
      $('#switchForm')
        .css('visibility', 'visible')
        .attr('action', '/admin/update/' + name)
    }
    function erase(name) {
      var form = $('<form>', {
        action: '/admin/delete/' + name,
        method: 'POST'
      })
      form.appendTo(document.body).submit()
    }
    function submitForm() {
      $('#switchForm').submit()
    }

block content
  h1= title
  p Welcome to switch management

  mixin notification(verb)
    if switchName
      .row
        .col-md-9
          p.pull-left.alert.alert-success #{verb} switch '#{switchName}'

  case action
    when "created": +notification('Created')
    when "updated": +notification('Updated')
    when "deleted": +notification('Deleted')
    when "switchedon": +notification('Switched on')
    when "switchedoff": +notification('Switched off')
  
  if switches
    div.row
      div.col-md-3: strong Name
      div.col-md-3: strong Group
      div.col-md-3: strong Switch
      div.col-md-3
  each val in switches
    div.row
      div.col-md-3: p= val.name
      div.col-md-3: p= val.group
      div.col-md-3: p= val.switch
      div.col-md-3
        button.btn.btn-primary(onclick="update('#{val.name}', '#{val.group}', #{val.switch})") Edit
        button.btn.btn-danger(onclick="erase('#{val.name}')") Delete
  br
  div.row
    div.col-md-offset-9.col-md-3: button.btn.btn-primary(onclick="create()") New
  br
  
  form.form-horizontal#switchForm(style='visibility:hidden', method='POST')
    div.form-group
      label.col-sm-2.control-label(for='inputName') Name
      div.col-md-2
        input.form-control#inputName(name="name", type='text', placeholder='Name')
    div.form-group
      label.col-sm-2.control-label(for='inputGroup') Group
      div.col-md-2
        input.form-control#inputGroup(name="group", type='text', placeholder='Group')
    div.form-group
      label.col-sm-2.control-label(for='inputSwitch') Switch
      div.col-md-2
        select.form-control#inputSwitch(name="switch")
          option 1
          option 2
          option 3
          option 4
    div.form-group
      div.col-md-offset-2.col-md-4
        button.btn.btn-primary(onclick="submitForm()") Save  
